.container{
	margin: 100px 200px;
}

#add{
	cursor:pointer;
	border-radius: 10px;
	border: 20px;
	background-color: lightgray;
	font-size: 30px;
}
#subtract{
	cursor: pointer;
	border-radius: 10px;
	border: 20px;
	background-color: lightgray;
	font-size: 30px;
}
#number{
	font-size: 15px;
	border-radius: 5px;
	text-align: center;
}
#total{
	margin-left: 120px;
	font-size: 20px;
}